
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
}

/* BACKGROUND IMAGE (IPL STADIUM) */
body {
    height: 100%;
    width: 100%;
    background-image: url('./bg/team.webp');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    object-fit: fill;
}

/* LOADING SCREEN */
#loader {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader-circle {
    width: 90px;
    height: 90px;
    border: 8px solid rgba(255,255,255,0.3);
    border-top-color: #00eaff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#loader h2 {
    margin-top: 20px;
    color: #dfce0d;
}

/* MAIN */
main {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px;
    background-size: cover;
    background-position: center;
    transition: 0.8s ease;
   
}

.card {
    font-size: 60px;
    padding: 20px 40px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    transition: transform 0.2s ease;
}

.card.animate {
    transform: scale(1.15);
}

.logo {
    width: 130px;
    height: 130px;
    object-fit: contain;
    display: none;
    filter: drop-shadow(0 0 12px #fff);
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #1dda19;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.2s ease;
}

button:hover {
    transform: translateY(-3px);
}

button:active {
    transform: scale(0.95);
}

/* WIN BANNER */
.banner {
    width: 300px;        
    height: 150px;       
    object-fit: fill;
    border-radius: 15px;
    display: none;
    box-shadow: 0 0 18px rgba(255,255,255,0.5);
    
}



